@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-geist: "Geist", sans-serif;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(70% 0.13 258);
  --accent-foreground: oklch(15% 0.026 258);
  --background: oklch(97.02% 0.0197 258);
  --border: oklch(90% 0.0197 258);
  --danger: oklch(65.32% 0.242 26.24);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0197 258);
  --default-foreground: oklch(21.03% 0.0059 258);
  --field-background: oklch(100% 0.0099 258);
  --field-foreground: oklch(21.03% 0.0197 258);
  --field-placeholder: oklch(55.17% 0.0395 258);
  --focus: oklch(70% 0.13 258);
  --foreground: oklch(21.03% 0.0197 258);
  --muted: oklch(55.17% 0.0395 258);
  --overlay: oklch(100% 0.0059 258);
  --overlay-foreground: oklch(21.03% 0.0197 258);
  --scrollbar: oklch(87.1% 0.0197 258);
  --segment: oklch(100% 0.0197 258);
  --segment-foreground: oklch(21.03% 0.0197 258);
  --separator: oklch(92% 0.0197 258);
  --success: oklch(73.29% 0.2011 151.31);
  --success-foreground: oklch(21.03% 0.0059 151.31);
  --surface: oklch(100% 0.0099 258);
  --surface-foreground: oklch(21.03% 0.0197 258);
  --surface-secondary: oklch(95.24% 0.0158 258);
  --surface-secondary-foreground: oklch(21.03% 0.0197 258);
  --surface-tertiary: oklch(93.73% 0.0158 258);
  --surface-tertiary-foreground: oklch(21.03% 0.0197 258);
  --warning: oklch(78.19% 0.1648 72.83);
  --warning-foreground: oklch(21.03% 0.0059 72.83);

  --radius: 0.25rem;
  --field-radius: 0.5rem;

  --font-sans: var(--font-geist);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(70% 0.13 258);
  --accent-foreground: oklch(15% 0.026 258);
  --background: oklch(12% 0.0197 258);
  --border: oklch(28% 0.0197 258);
  --danger: oklch(59.4% 0.2045 25.13);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0197 258);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0395 258);
  --field-foreground: oklch(99.11% 0.0197 258);
  --field-placeholder: oklch(70.5% 0.0395 258);
  --focus: oklch(70% 0.13 258);
  --foreground: oklch(99.11% 0.0197 258);
  --muted: oklch(70.5% 0.0395 258);
  --overlay: oklch(21.03% 0.0395 258);
  --overlay-foreground: oklch(99.11% 0.0197 258);
  --scrollbar: oklch(70.5% 0.0197 258);
  --segment: oklch(39.64% 0.0197 258);
  --segment-foreground: oklch(99.11% 0.0197 258);
  --separator: oklch(25% 0.0197 258);
  --success: oklch(73.29% 0.2011 151.31);
  --success-foreground: oklch(21.03% 0.0059 151.31);
  --surface: oklch(21.03% 0.0395 258);
  --surface-foreground: oklch(99.11% 0.0197 258);
  --surface-secondary: oklch(25.7% 0.0296 258);
  --surface-secondary-foreground: oklch(99.11% 0.0197 258);
  --surface-tertiary: oklch(27.21% 0.0296 258);
  --surface-tertiary-foreground: oklch(99.11% 0.0197 258);
  --warning: oklch(82.03% 0.1443 76.84);
  --warning-foreground: oklch(21.03% 0.0059 76.84);
}
